@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap");
@import "tailwindcss";
@import "@heroui/styles";
@config "../tailwind.config.js";

body {
  font-family: "Inter", sans-serif;
  background-color: #F5F5F5;
}

.dark body {
  background-color: #060607;
}
